$(".comments").html("<%= j(render 'comments/comments', comments: @comments, court: @court) %>");
$('#alert-message').html('<div class="alert alert-success fas fa-basketball-ball" id="notice"><%= @success %></div>')