/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 // Custom bootstrap variables must be set or imported *before* bootstrap.
@import "bootstrap";

.view-title {
  margin: 50px 0 50px 10%;
  color: #f4a460;
}

.navbar,.footer{
  background-image: url("/assets/wood.jpg");
}

body{
  background-color: #fffacd;
}

.bottom-space{
  margin-bottom: 100px;
}


.btn-nav{
  border: solid 2px #fffacd;
  color: #322D00;
}


.btn-nav:hover{
  background-color: #fffacd;
}

thead, .table_color{
  background-color: #f5deb3 ;
}
.contents--white {
  background-color: white;
}
