/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_self
 */
 // Custom bootstrap variables must be set or imported *before* bootstrap.
@import "bootstrap";
/*common*/
  *{
    margin:0;
    padding: 0;
  }
  body {
    width: 100%;
    padding-bottom: 30px;/*←footerの高さ*/
    box-sizing: border-box;/*←全て含めてmin-height:100vhに*/
  }

  header{
    background-image: url("/assets/sky1.jpg");
    position: fixed;            /* ヘッダーの固定 */
    top: 0px;                   /* 位置(上0px) */
    left: 0px;                  /* 位置(右0px) */
    width: 100%;                /* 横幅100%　*/
  }
  main {
    height: 640px;
    background: url("/assets/bbc-bg.jpg");
    background-size: cover;
    background-color:rgba(255,255,255,0.7);
    background-blend-mode:lighten;
  }
  footer {
    position: fixed;            /* フッターの固定 */
    /*position: absolute;*/
    bottom: 0px;                /* 位置(下0px) */
    left: 0px;                  /* 位置(左0px) */
    width: 100%;                /* 横幅100%　*/
    text-align: center;
    /*padding: 15px 0;*/
    background-image: url("/assets/sky1.jpg");
  }
/*common*/

.view-title {
  margin: 50px 0 50px 10%;
  color: #f4a460;
}

.bottom-space{
  margin-bottom: 100px;
}
.btn-nav{
  border: solid 2px #fffacd;
  color: #322D00;
}
.btn-nav:hover{
  background-color: #fffacd;
}
.image-xl {
    width: 300px;
    height: 300px;
}
.image-lg {
    width: 200px;
    height: 200px;
}
.image-sm {
    width: 50px;
    height: 50px;
}
.image-shape {
    border-radius: 50%;
    object-fit: cover;
}

