/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_self
 */
 /*Custom bootstrap variables must be set or imported *before* bootstrap.*/
@import "bootstrap";

.skipper {
  height: 500px;
}
#theTarget div{
  width: 300px;
  height: 300px;
}
/*common*/
  *{
    margin:0;
    padding: 0;
    box-sizing: border-box;
  }
  a {
    color: black;
  }
  a:hover {
    text-decoration: none;
    background-color: #f4a460;
  }
  body {
    min-width: 1000px;
    font-family: "Ricky Diminished", "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif;
    font-weight: 500;
    line-height: 2;
    color: #333;
  }

  strong, b, mark, b, .typo-bold {
    font-family: "Ricky Diminished",'游ゴシック体', YuGothic, '游ゴシック', 'Yu Gothic', '游ゴシック', 'Yu Gothic', sans-serif;
    font-weight: 700;
  }

  body {
    width: 100%;
    padding-bottom: 30px;/*←footerの高さ*/
    padding-top: 6.5rem;
    box-sizing: border-box;/*←全て含めてmin-height:100vhに*/
  }

  header nav{
    background-image: image-url("sky1.jpg");
    position: fixed;            /* ヘッダーの固定 */
    top: 0px;                   /* 位置(上0px) */
    left: 0px;                  /* 位置(右0px) */
    width: 100%;                /* 横幅100%　*/
  }
  .main-content {
    min-height: 640px;
    background-image: url("bbc-bg.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-color:rgba(255,255,255,0.7);
    background-blend-mode:lighten;
  }
  .outline {
    padding: 10px 0;
  }
  footer {
    display: flex;
    justify-content: center;
    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 50px;
    background-image: image-url("sky1.jpg");
  }
  #notice {
    color: black;
    font-size: 16px;
    z-index: 10;
  }
  #notice::before {
    content: "\f434";
    font-family: "Font Awesome 5 Free";
  }
  #notice::after {
    content: "\f434";
    font-family: "Font Awesome 5 Free";
  }
  .view-title {
    // 各ページのタイトル
    display: inline-block;
    margin: 0 0 10px 5%;
    padding: 0 15px;
    border-radius: 5px;
    color: black;
    background: #f4a460;
  }
  .copyright {
    line-height: 50px;
  }
  .header-logo {
    width: 100px;
  }
/*common*/

/*table*/
  table {
  }
  .table-pic {
    width: 150px;
  }
  thead {
    background-color: rgb(244,164,96);
  }
  td {
    overflow-wrap : break-word;
    padding: 0.2rem!important;
  }
  th{
    overflow-wrap : break-word;
  }
  .scroll-box{
    // 溢れたテーブルのため
    max-width: 600px;
    height:520px;
    overflow-y:scroll;
  }
/*table*/


/*btn*/
  .btn {
    margin: 2px;
  }
  .btn-nav{
    margin-right: 5px;
    border: solid 2px #f4a460;
    color: #322D00;
  }
  .btn-nav:hover{
    background-color: #f4a460;
  }
  .btn-margin {
    margin: 50px 0;
  }
/*btn*/

/*image*/
  .image-xl {
    width: 300px;
    height: 300px;
    object-fit: cover;
  }
  .image-lg{
    width: 100%;
    height: 200px;
    object-fit: cover;
  }
  .image-md {
    width: 150px;
    height: 150px;
    object-fit: cover;
  }
  .image-md-court {
    height: 100px;
    object-fit: cover;
  }
  .image-xs {
    width: 60px;
    height: 60px;
    object-fit: cover;
  }
  .image-shape {
    border: 3px solid #f4a460;
  }
  .image-shape-round {
    border-radius: 50%;
    padding: 5px;
    border: 3px solid #f4a460;
  }

  .image1 {
    background-image: image-url("test1.jpg");
  }
  .image2 {
    background-image: image-url("test2.jpg");
  }
  .image3 {
    background-image: image-url("test3.jpg");
  }
  .image4 {
    background-image: image-url("test4.jpg");
  }
  .image5 {
    background-image: image-url("test5.jpg");
  }
/*image*/

/*fontawesome*/
  .fa-heart{
    color: red;
  }
  .fa-heart-o{
    color: red;
  }
  /*Twitter*/
  .fa-twitter-square{
    color:#1da1f2;
    font-size: 2.5em;
  }
  /*Facebook*/
  .fa-facebook-square{
    color:#3b5998;
    font-size: 2.5em;
  }
  /*instagram*/
  .fa-instagram{
    color:#e1306c;
    font-size: 2.5em;
  }
  .fa-cog {
    color:gray;
    font-size: 2.5em;
  }
  /*YouTube*/
  .fa-youtube{color:#ff0000;}
  /*LINE*/
  .fa-line{color:#00c300;}

  .fa-basketball-ball {
  }
/*fontawesome*/

