// Place all the styles related to the courts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.court-image {
  position: relative;
}
.court-links {
  margin-bottom: 10px;
  display: flex;
}
.card-body {
  padding: 10px 0 0;
}
.card-court-name {
  font-weight: bolder;
  text-decoration: underline;
}
.like-court-index {
  font-size: 2rem;
  position: absolute;
  top: -1.5rem;
  left:-1rem;
}
.like-court-show{
  font-size: 3rem;
  position: absolute;
  top: -1.5rem;
  left:-1rem;
}
.comment-style, .review-style {
  line-height: 1;
}
.btn-bottom {
  position: absolute;
  bottom: 0;
  right: 0;
}