// Place all the styles related to the courts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.other-box {
  border: 2px solid gray;
}
.card {
  position: relative;
}
.card-body {
  padding: 10px 0 0;
}
.card-court-name {
  font-weight: bolder;
  text-decoration: underline;
}
.like-btn-card {
  font-size: 2rem;
  position: absolute;
  top: -1.5rem;
  left:-1rem;
}
.like-btn-lg{}