.image__player--lg {
    border-radius: 50%;
    width: 200px;
    height: 200px;
}
.image__player--sm {
    width: 100px;
    height: 100px;
}




// .image {
//   %__player {
//     border-radius: 50%;
//   }
//   &__player {
//     &--lg {
//       @extend %__player;
//       width: 200px;
//       height: 200px;
//     }
//     &--sm {
//       @extend %__player;
//       width: 100px;
//       height: 100px;
//     }
//   }
// }
