// Place all the styles related to the players controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.actions{
  text-align: center;
}
.retire{
  text-align: center;
}

.player__edit--left
.player__edit--right {
  position: relative;
}
.player__edit--pic-select {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
}
.player__edit--btn-bottom {
  position: absolute;
  bottom: 0;
  left: 40%;
  transform: translateX(-40%)
}


.profile {
  width: 80%;
  margin-left: 5%;
}
.profile-contents
.profile-sns {
  padding: 5px;
}
.profile-links{
  padding: 5px;
}