.actions{
  text-align: center;
}
.retire{
  text-align: center;
}
.profile {
  width: 100%;
  margin-left: 5%;
}
.profile-contents {
  padding: 0;
}
.profile-sns, .profile-links {
  padding: 5px;
}
.profile-intro, .profile-skills {
  word-break: break-all;
}
.profile-skills {
  width: 60%;
}


.new-pic-select {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}
.new-btn-bottom {
  position: absolute;
  bottom: 10%;
  left: 0;
  transform: translateY(-10%)
}
.edit-pic-select {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
}
.edit-btn-bottom {
  position: absolute;
  bottom: 0;
  left: 40%;
  transform: translateX(-40%)
}