// Place all the styles related to the players controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.actions{
  text-align: center;
}

.retire{
  text-align: center;
}

.player__edit--left
.player__edit--right {
  position: relative;
}
.player__edit--pic-select {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
}
.player__edit--btn-bottom {
  position: absolute;
  bottom: 0;
  left: 40%;
  transform: translateX(-40%)
}


.profile {
  width: 70%;
  margin-left: 5%;
}

/*fontawesome*/
  /*Twitter*/
  .fa-twitter-square{
    color:#1da1f2;
    font-size: 2.5em;
  }
  /*Facebook*/
  .fa-facebook-square{
    color:#3b5998;
    font-size: 2.5em;
  }
  /*instagram*/
  .fa-instagram{
    color:#e1306c;
    font-size: 2.5em;
  }
  .fa-cog {
    color:gray;
    font-size: 2.5em;
  }
  /*YouTube*/
  .fa-youtube{color:#ff0000;}
  /*LINE*/
  .fa-line{color:#00c300;}

  .fa-basketball-ball {
  }
/*fontawesome*/