

.profile {
  width: 70%;
  margin-left: 5%;
}











/*fontawesome*/
  /*Twitter*/
  .fa-twitter-square{
    color:#1da1f2;
    font-size: 2.5em;
  }
  /*Facebook*/
  .fa-facebook-square{
    color:#3b5998;
    font-size: 2.5em;
  }
  /*instagram*/
  .fa-instagram{
    color:#e1306c;
    font-size: 2.5em;
  }
  .fa-cog {
    color:gray;
    font-size: 2.5em;
  }
  /*YouTube*/
  .fa-youtube{color:#ff0000;}
  /*LINE*/
  .fa-line{color:#00c300;}

  .fa-basketball-ball {
    color:brown;
    font-size: 2.5em;
  }
/*fontawesome*/
