/*PC → インナーの幅まで
タブレット → インナーの幅からiPad（768px）まで
スマホ → iPadより小さい（767px）からiPhone SE（320px）まで*/

/* ========================================
bootstrap ブレークポイント
xs 0-544px
sm 544-768px
md 768-992px
lg 992-1200px
xl 1200- */
/*=========================================
{{スマホを基本設計にする}}
 - 〜479px：SP縦
 - 480px〜599px：SP横
 - 600px〜959px：タブレット
 - 960px〜1279px：小型PC
 - 1280px〜：大型PC
====================*/

// @media (max-width: 575.98px) {
// }
@media (max-width: 767.98px) {
  h1{
    font-size: 24px;
  }
  h2 {
    font-size: 20px;
  }
  .pc-br, .feature-list-pc {
    display: none;
  }
  .btn{
    padding: 3px 3px;
  }
  .btn-bottom {
    position: static!important;
    right: 0!important;
  }
  .fa-twitter-square, .fa-instagram, .fa-cog{
    font-size: 25px;
  }
  .admin-sns > .admin-sns-size{
    font-size: 50px!important;
    margin-right: 15px!important;
  }
  .new-pic-select, .new-btn-bottom,
  .edit-pic-select, .edit-btn-bottom {
    position: static!important;
    top: 0 !important;
    left: 0!important;
    transform: translateY(0)!important;
  }
}
@media (min-width: 768px){
  .sp-br, .feature-list-sp {
    display: none;
  }
}
